<h1>Flicker</h1>

<input type="text" [(ngModel)]="tags_tmp" />
<button (click)="setTags()"> Search </button>
<br>

<input type="checkbox" [(ngModel)]="list_display" name="list_display_checkbox"/>
<label for="list_display_checkbox"> Display in list</label>

<br>
<br>
<br>

<div *ngIf="list_display == true; else other" class="image_container">
    <div *ngFor="let c of photos.photo" class="cont_img">
        <img 
        src="https://live.staticflickr.com/{{c.server}}/{{c.id}}_{{c.secret}}.jpg"
        class="listed_image">
    </div>
</div>
<ng-template #other class="slider_componenet_container">
    <app-slider [nb_image]="nb_image"
                [photos]="photos.photo"></app-slider>
</ng-template>