<h1>Flicker</h1>

<input type="text" [(ngModel)]="tags_tmp" />
<button (click)="setTags()"> Search </button>
<br>

<input type="checkbox" [(ngModel)]="list_display" name="list_display_checkbox"/>
<label for="list_display_checkbox"> Display in list</label>

<br>

<div *ngIf="list_display == true; else other">
    <img *ngFor="let c of photos.photo" src="https://live.staticflickr.com/{{c.server}}/{{c.id}}_{{c.secret}}.jpg">
</div>
<ng-template #other>
    <img src="https://live.staticflickr.com/{{photos.photo[0].server}}/{{photos.photo[0].id}}_{{photos.photo[0].secret}}.jpg">
</ng-template>