<h1>Flickr</h1>

<input type="text" [(ngModel)]="tags_tmp" />
<button (click)="setTags()"> Search </button>
<br>

<input type="checkbox" [(ngModel)]="list_display" name="list_display_checkbox"/>
<label for="list_display_checkbox"> Display in list</label>

<br>
<input type="checkbox" [(ngModel)]="NSFW" name="NSFW"/>
<label for="NSFW"> NSFW</label>

<br>

<button (click)="tags_tmp === '' ? ngOnInit() : setTags()"> Filter</button>

<br>
<br>
<br>

<div *ngIf="list_display == true; else other" class="image_container">
    <div *ngFor="let i of photos.photo.keys()" class="cont_img">
        <div (click)="toggle_info(i)">
            <img src="https://live.staticflickr.com/{{photos.photo[i].server}}/{{photos.photo[i].id}}_{{photos.photo[i].secret}}.jpg"
            class="listed_image">
            <div *ngIf="photos.photo[i].display_info">
                <app-location [id]=photos.photo[i].id></app-location>
                <app-comments [id]=photos.photo[i].id></app-comments>
            </div>
        </div>
    </div>
</div>
<ng-template #other class="slider_componenet_container">
    <app-slider [nb_image]="nb_image"
                [photos]="photos.photo"></app-slider>
</ng-template>