<div class="slider_container">
    <button (click)="prevImg()" class="slider_btn">  <-  </button>
    <!--<p>{{num_image}} / {{nb_image}}</p>-->
    <div class="img_with_title">
        <img src="https://live.staticflickr.com/{{photos[num_image].server}}/{{photos[num_image].id}}_{{photos[num_image].secret}}.jpg"
            class="slided_image">
        <p class="img_title">{{photos[num_image].title}}</p>
    </div>
    <button (click)="nextImg()" class="slider_btn">  ->  </button>
</div>

<div>
    <app-location [id]=photos[num_image].id></app-location>
</div>